@charset "UTF-8";

// import variables
@import 'variables';
@import 'mixins';
@import 'easings';

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

// do not wrap, show ellipses instead
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-ellipsis {
    overflow: auto;
    text-overflow: initial;
    white-space: normal;
}

// don't break out text, helpful for e.g. long url's or user-generated content
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// A small circle divider, use as span: <span class="middotDivider"></span>
.middotDivider {
    padding-right: .45em;
    padding-left: .45em;
}

.middotDivider:after {
    content: '·'
}









// display
.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.block {
    display: block !important;
}

.center-block {
    display: block !important;
    margin-right: auto;
    margin-left: auto;
}

// float alignments
.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

// hide and show using display none / block
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.centered {
    text-align: center;
}

.righted {
    text-align: right;
}

.lefted {
    text-align: left;
}

.stretch-h {
    width: 100%;
}

.whitespace-nowrap {
    white-space: nowrap !important;
}

.whitespace-preline {
    white-space: pre-line !important;
}

.uppercase {
    text-transform: uppercase;
}

.to-foreground {
    z-index: 99;
}

.disabled {
    cursor: default;
    opacity: $disabledOpacity;
}

